table{
    border: 1px solid black;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom:15px;
}
tr:first-child
{
    background-color: brown;
}
td:first-child
{
    background-color: green;
}
td:last-child
{
    background-color: brown;
}
.xoli{
    background-color: yellow;
}
#xoki{
    background-color: grey;
}
tr:last-child{
    background-color: green;
}
.feed{
    font-size: 2em;
}
